# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/threadpool/v17/.suo
/.vs/threadpool/v17/Browse.VC.db
/.vs/threadpool/v17/ipch/AutoPCH/5de11127155c637b/THREAD_POOL.ipch
/.vs/threadpool/v17/ipch/AutoPCH/935a6235b2c4eee8/MAIN.ipch
/x64/Debug/threadpool.exe.recipe
/x64/Debug/threadpool.log
/x64/Debug/threadpool.tlog/threadpool.lastbuildstate
/.vs/threadpool/FileContentIndex/2b372bb4-2b0f-45fc-b3c2-8ecff2c668d7.vsidx
/.vs/threadpool/FileContentIndex/8e78c191-d33c-42fb-a064-a7a2d272c07d.vsidx
/.vs/threadpool/FileContentIndex/read.lock
/.vs/threadpool/v17/Browse.VC.db-shm
/.vs/threadpool/v17/Browse.VC.db-wal
/.vs/threadpool/v17/Browse.VC.opendb
/.vs/threadpool/v17/ipch/AutoPCH/7e83953bc2622fbc/FUNCTION_WRAPPER.ipch
/.vs/threadpool/v17/ipch/AutoPCH/bcf1aaf42f167d04/MAIN.ipch
/function_wrapper.h
/x64/Debug/threadpool.ilk
/x64/Debug/threadpool.pdb
/x64/Debug/threadpool.tlog/CL.command.1.tlog
/x64/Debug/threadpool.tlog/CL.read.1.tlog
/x64/Debug/threadpool.tlog/CL.write.1.tlog
/x64/Debug/threadpool.tlog/link.command.1.tlog
/x64/Debug/threadpool.tlog/link.read.1.tlog
/x64/Debug/threadpool.tlog/link.write.1.tlog
/x64/Debug/threadpool.vcxproj.FileListAbsolute.txt
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
